<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nationsmatsalen</title>
    <link rel="stylesheet" href="css/nationPub.css">
  </head>
  <body>

    <!--Receipt/kvitto-->
    <table id="ordering">
      <tr>
        <td class="layout" id="receipt">
          <p> Beställning: </p>
          <table id="currentOrder"> </table>
          <div id="totalRepresentation">
            <table id="totalTable">
              <tr>
                <td class="totalSummation"><h3>Total:</h3></td>
                <td class="totalSummation"><h3> {{total}} kr </h3></td>
              </tr>
            </table>
          </div>
          <table id="putOrder">
            <tr>
              <td colspan="2">
              </td>
              <td>
                <table id="payment">
                  <tr>
                    <td>
                      <button class="buttonLayout" v-on:click="openModal()"> {{ uiLabels.cashPayment }}</button>
                    </td>
                    <td>
                      <button class="buttonLayout" v-on:click="openModal2()"> {{ uiLabels.cardPayment }}</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <input id="calcInfo" type="text" disabled />
              <table id="calcTable">
                <tr class="calcRow">
                  <td class="calcData"><button v-on:click="clear()" class="calcButton"> Clear </button></td>
                  <td colspan="2" id="calcData2"><button v-on:click="back()" class="calcButton"> Backspace </button> </td>
                </tr>
                <tr class="calcRow">
                  <td class="calcData"><button v-on:click="addNum(1)" class="calcButton"> 1 </button></td>
                  <td class="calcData"><button v-on:click="addNum(2)" class="calcButton"> 2 </button></td>
                  <td class="calcData"><button v-on:click="addNum(3)" class="calcButton"> 3 </button></td>
                </tr>
                <tr class="calcRow">
                  <td class="calcData"><button v-on:click="addNum(4)" class="calcButton"> 4 </button></td>
                  <td class="calcData"><button v-on:click="addNum(5)" class="calcButton"> 5 </button></td>
                  <td class="calcData"><button v-on:click="addNum(6)" class="calcButton"> 6 </button></td>
                </tr>
                <tr class="calcRow">
                  <td class="calcData"><button v-on:click="addNum(7)" class="calcButton"> 7 </button></td>
                  <td class="calcData"><button v-on:click="addNum(8)" class="calcButton"> 8 </button></td>
                  <td class="calcData"><button v-on:click="addNum(9)" class="calcButton"> 9 </button></td>
                </tr>
                <tr>
                  <td class="calcData"><button v-on:click="addNum(0)"class="calcButton"> 0 </button></td>
                  <td colspan="2" class="calcData2"><button v-on:click="addNum(0),addNum(0)" class="calcButton"> 00 </button></td>
                </tr>
              </table>
              <button class="close" v-on:click="closeModal()">OK</button>
            </div>

          </div>
          <!-- The Modal -->
          <div id="myModal2" class="modal">
            <div class="modal-content2">

              <h3> Waiting for information ... </h3>
              <h2> Exit by pressing Cancel </h2>
              <button class="close" v-on:click="closeModal()">Cancel</button>
            </div>
          </div>
        </td>
        <td id="orders">
	  <div class="tab">
	    <a href="javascript:void(0)" class="tablinks" onclick="openFood(event, 'Mat')">Mat</a>
	    <a href="javascript:void(0)" class="tablinks" onclick="openFood(event, 'Dryck')">Dryck</a>
	  </div>

	  <!--MAT-TAB -->
	  <div id="Mat" class="tabcontent" style="display: block;">
	    <h2>Emil's Burgare's</h2>
            <div id="mealOrders" v-for="menuitem in menu.foods">
              <h2>
		<label>
                  <button type="button" v-on:click="sendToReceipt(menuitem)" v-model="mainDish" :value="menuitem.label" />
                  {{menuitem.label}} , {{menuitem.price}}:-
		  
		</label>
		
              </h2>
	      
              <div>
		Extra: 
		<label v-for="detail in menuitem.details">
                  <input type="checkbox" :id="menuitem.label + '::' + detail.extra" v-on:click="setValues((menuitem.label + '::' + detail.extra), detail.extra, detail.price)" v-model="extras" :value="menuitem.label + '::' + detail.extra"/>
                  {{detail.extra}}, {{detail.price}}:-
		</label>
              </div>
            </div>
            <h2>{{ uiLabels.sideorders }}</h2>
            <label v-for="menuitem in menu.sideorders">
              <button type="button" v-on:click="sendToReceipt(menuitem)" name="item[]" :value="menuitem.label" />
              {{menuitem.label}}, {{menuitem.price}}:-
            </label>
	  </div>

	  <!--DRYCKER-TAB -->
	  <div id="Dryck" class="tabcontent">
	    <h2>{{ uiLabels.drinks }}</h2>
	    <label v-for="menuitem in menu.drinks">
	      <button type="button" v-on:click="sendToReceipt(menuitem)"name="item[]" :value="menuitem.label" />
	      {{menuitem.label}}, {{menuitem.size}} cl, {{menuitem.price}}:-
	      <br> </br>
	    </label>
	    
	  </div>
        </td>

	<!--BESTÄLLNINGAR -->
        <td class="layout" id="progress">
          <h2> Väntande beställningar </h2>
          <h2>{{ uiLabels.ordersInProgress }}</h2>
          <ol>
            <li v-for="(item, key) in orders" v-if="!item.done"> {{ key }} : {{ item.orderItems.join(', ') }}</li>
          </ol>
          <h2>{{ uiLabels.ordersFinished }}</h2>
          <ol>
            <li v-for="(item, key) in orders" v-if="item.done"> {{ key }} : {{ item.orderItems.join(', ') }}</li>
          </ol>
        </td>
      </tr>
    </table>
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/nationPub.js"></script>
    <script src="js/diner.js"></script>
  </body>
</html>
